.Tours {
    width: 90%;
    margin: 0 auto;
}

.Tour-summary {
    float: left;
    width: 23%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin: 0 1%;
}

.Tour-summary .title {
    font-size: 18px;
    font-family: 'Alfa Slab One', cursive;
    color: #333;
}

.Tour-summary-content {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.Tour-summary-content>.Tour-summary-image {
    position: relative;
    width: 100%;
    height: 250px;
    background: #eee;
}

.Tour-summary>.Tour-summary-header {
    width: 100%;
    overflow: hidden;
}

.Tour-summary-header>.title-wrapper {
    line-height: 30px;
}

.title-wrapper>.datetime {
    color: #ff6300;
}

.Tour-summary-header>.Tour-summary-description {
    width: 40%;
    float: left;
    font-size: 18px;
    color: #333;
}