.Tour-left-column {
    float: left;
    width: 35%;
    padding: 0 30px;
}

.Tour-left-column>.Tour-image {
    width: 100%;
    height: 400px;
    background: #eee;
}

.Tour-left-column>.Tour-title {
    font-size: 32px;
    font-family: 'Carter One', cursive;
    line-height: 40px;
    margin-bottom: 24px;
    margin-top: 10px;
}

.Tour-left-column>.Tour-guide {
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    line-height: 16px;
    margin: 5px 0;
}

.Tour-left-column>.Tour-startDateTime {
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    line-height: 16px;
    margin: 5px 0;
}

.Tour-left-column>.Tour-request{
    line-height: 40px;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
}

.Tour-left-column>.Tour-request>.Tour-request-btn{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align:center;
    border-radius: 3px;
    border: 1px solid #ff6300;
    margin-top: 20px;
    
}

.Tour-left-column>.Tour-request>.Tour-request-btn:hover{
    background: #ff6300;
    color: #fff;
    cursor: pointer;
}

.Tour-right-column {
    float: left;
    width: 65%;
    padding: 0 30px;
}

.Tour-activity {
    width: 100%;
    overflow: hidden;
    line-height: 32px;
}

.Tour-activity-index {
    float: left;
    color: #ff6300;
    width: 30px;
    text-align: center;
}

.Tour-activity-content {
    float: left;
}

.Message-new {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.Message-new>textarea {
    width: 100%;
    border-radius: 3px;
    padding: 5px;
    font-family: 'Comfortaa', cursive;
    resize: vertical;
}

.Message-new>textarea:focus {
    border-color: #ff6300;
    outline-color: transparent;
}

.Message-controls {
    overflow: hidden;
    line-height: 20px;
}

.Message-controls>.control {
    float: left;
    width: 25px;
    text-align: center;
    color: #666;
}

.Message-controls>.control:hover {
    cursor: pointer;
    color: #ff6300;
}

.Message-controls>.submit {
    float: right;
}

.Message-controls>.submit:hover {
    cursor: pointer;
    color: #ff6300;
}

.Message {
    overflow: hidden;
    margin-bottom: 20px;
}

.Message-owner-left {
    float: left;
    width: 90%;
}

.Message-owner-right {
    float: left;
    width: 10%;
}

.Message-other-left {
    float: left;
    width: 10%;
}

.Message-other-right {
    float: left;
    width: 90%;
}

.Message-user {
    width: 50px;
    overflow: hidden;
    float: right;
}

.Message-content {
    position: relative;
    padding: 15px;
    line-height: 22px;
    word-wrap: break-word;
}

.Message-datetime {
    float: right;
    line-height: 30px;
    margin: 0px 10px;
    font-size: 12px;
    color: #666;
}

.Message-user-image {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    margin: 0 auto;
}

.Message-user-name {
    text-align: center;
    font-size: 12px;
}

.Message-owner-left>.Message-content {
    background: #ffb472;
}

.Message-owner-left>.Message-content:after {
    content: "\A";
    border-style: solid;
    border-width: 0px 0px 15px 10px;
    border-color: transparent transparent transparent #ffb472;
    position: absolute;
    right: -10px;
    top: 0;
}

.Message-owner-left>.Message-user {
    float: right;
}

.Message-owner-right>.Message-user>.Message-user-image {
    background: #ffb472;
}

.Message-other-right>.Message-content {
    background: #eee;
}

.Message-other-right>.Message-content:before {
    content: "\A";
    border-style: solid;
    border-width: 0px 10px 15px 0;
    border-color: transparent #eeeeee transparent transparent;
    position: absolute;
    left: -10px;
    top: 0;
}

.Message-other-left>.Message-user {
    float: left;
}

.Message-other-left>.Message-user>.Message-user-image {
    background: #eee;
}