* {
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    outline: none;
}

.page-wrapper {
    width: 1200px;
    margin: 50px auto;
    overflow: hidden;
}

.section-content {
    font-family: 'Comfortaa', cursive;
    line-height: 22px;
}

.stand-out-text {
    font-weight: 500;
    color: #ffb472;
}